*{
    box-sizing: border-box;  
}
body{
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    max-width: 600px;
    max-height: 600px;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #f4f4f4;
}
.main{
    width:550px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: #333 solid 2px;
    border-radius: 30px;
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width:270px;
    background-color: white;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    margin-top: 10px;
}
input[type="text"], input[type="email"], input[type="password"]{
    width: 220px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    font-size: 15px;
}
input[type="password"]:focus, input[type="text"]:focus, input[type="email"]:focus{
    border-color: blue;
    outline: none;
}
.form-group span.eye-icon {
    width:20px;
    position: absolute;
    margin-top: 50px;
    margin-left: 190px;
    cursor: pointer;
    user-select: none;
}
.form-group span.eye-icon:after{
    content: '';
}
button{
    width: 210px;
    height:45px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.progress-bar {
   width:90px;
    height:90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:conic-gradient(
        white 0% var(--percentage, 0%),
        black var(--percentage, 65%) 100%
    );
    position:relative;
    color:333;
}

.progress-bar::before {
  content: attr(data-percentage) '%';
  position: absolute;
  font-size: 20px;
  background: white; 
  width: 85px; 
  height: 85px; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-completion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-right: 20px;
    margin-top: 30px;
}
.list{
    height: 240px;
    background-color: rgb(211, 215, 220);
    
    padding-bottom: 50px;
    padding-left:20px;
    padding-top:10px;
    padding-right: 20px;
    font-size: 14px;
    border-radius: 20px;
}
.judul{
    margin-top: 10px;
    font-size: 20px; 
}
.strikethrough1{
    position: relative;
    color: gray;
}
.strikethrough1:after{
    content:' ';
    position: absolute;
    width:110px;
    top:50%;
    left: -5px;
    right: -10px;
    height: 1px;
    background-color: gray;
    transform:translateY(-50%);
}
.strikethrough2{
    position: relative;
    color: gray;
}
.strikethrough2:after{
    content:'';
    position: absolute;
    top:50%;
    left: -5px;
    right: -10px;
    height: 1px;
    background-color: gray;
    transform:translateY(-50%);
}
.strikethrough3{
    position: relative;
    color: gray;
}
.strikethrough3:after{
    content:' ';
    position: absolute;
    width:140px;
    top:50%;
    left: -5px;
    right: -10px;
    height: 1px;
    background-color: gray;
    transform:translateY(-50%);
}